@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827; /* Dark Gray/Black */
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Ensure all headings are visible */
h1,
h2,
h3,
h4 {
  color: #111827 !important;
}
